@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-style: normal;
  font-size: 20px;
  line-height: 28px;
    color: #fff;
    background: linear-gradient(135deg, #29b2ff 0%, #8000ff 100%);
}